<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BookStore.v23</display-name>
  <context-param>
    <param-name>user</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>1234</param-value>
  </context-param>
  <filter>
    <filter-name>Authenticator</filter-name>
    <filter-class>pmj.bookstore.filters.Authenticator</filter-class>
  </filter>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>pmj.bookstore.controller.Controller</servlet-class>
  </servlet>
  <filter-mapping>
    <filter-name>Authenticator</filter-name>
    <servlet-name>Controller</servlet-name>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
</web-app>